<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._509LabLearnAndroid"
        tools:targetApi="31">
        <activity
            android:name=".Part12Activity"
            android:exported="false"
            android:label="Dialog and Bottom Sheet Concept"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part11Activity"
            android:exported="false"
            android:label="Skeleton Loading"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part10Activity"
            android:exported="false"
            android:label="App Widget Concept"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part9Activity"
            android:exported="false"
            android:label="Collapsing Toolbar"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part8Activity"
            android:exported="false"
            android:label="Adaptive Layouts"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part7Activity"
            android:exported="false"
            android:label="Multi-Activity Transition"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part7DetailActivity"
            android:exported="false"
            android:label="Detail Activity"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part6Activity"
            android:exported="false"
            android:label="View Interoperability"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part5Activity"
            android:exported="false"
            android:label="Side Effect Activity"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part4Activity"
            android:exported="false"
            android:label="Advanced Gestures Activity"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part3Activity"
            android:exported="false"
            android:label="@string/title_activity_part3"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part2Activity"
            android:exported="false"
            android:label="@string/title_activity_part2"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".Part1AnimationActivity"
            android:exported="false"
            android:label="@string/title_activity_part1_animation"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".SharedPreferencesActivity"
            android:exported="false"
            android:label="@string/title_activity_shared_preferences"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme._509LabLearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PokedexActivity"
            android:exported="false"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".LifeCycleComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme._509LabLearnAndroid">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!--  -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".RPGCardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".GalleryActivity"
            android:exported="false"
            android:label="Gallery Activity"
            android:theme="@style/Theme._509LabLearnAndroid" />
        <activity
            android:name=".SensorActivity"
            android:exported="false"
            android:label="Sensor Activity"
            android:theme="@style/Theme._509LabLearnAndroid" />
    </application>

</manifest>